<!-- HEADER STARTS HERE -->

<div class="title_container">
    <img class="logo" src="assets/images/logo.png" alt="Image">
    <h1 class="titulo">MediaAlarm</h1>
</div>

<div class="menu">
    <div class="selected"></div>
    <div class="options">
        <div class="menu_item">
            <a>Alarmas</a>
        </div>
        <div class="menu_item">
            <a routerLink="/multimedia">Multimedia</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/settings">Ajustes</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/sync">Sincronización</a>
            <router-outlet></router-outlet>
        </div>
    </div>
    <button routerLink="" class="button">Cerrar sesión</button>
    <router-outlet></router-outlet>
</div>


<!-- HEADER ENDS HERE -->
<h1 class="subtitulo">Tus Alarmas</h1>

<div class="dias">
    <h2 class="dias_item">Jueves, 09 Feb</h2>
    <h2 class="dias_item">Viernes, 10 Feb</h2>
    <h2 class="dias_item">Sábado, 11 Feb</h2>
    <h2 class="dias_item">Domingo, 12 Feb</h2>
</div>

<div class="calendar_circle">
    <div class="circle_item">
        <div class="circle"></div>
        <div class="arrow">&lt;</div>
    </div>
    <div class="circle_item">
        <div class="circle"></div>
        <div class="arrow">&gt;</div>
    </div>
</div>

<div class="alarma">
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Trabajo</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Trabajo</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">8:00 am - Misa</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">8:00 am - Misa</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="alarma">
    <div class="alarma_item">
        <h3 class="alarma_item_info">4:30 am - Tomar Pastilla</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Reunión</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="alarma1">
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 pm - Clase Rumba</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="square"></div>
<div class="create_alarm">
    <div class="create_alarm_item">
        <h2 class="agregarAlarma">Agrega una alarma</h2>
    </div>
    <div class="create_alarm_item">
        <h3 class="agregarAlarma_info">Esta alarma sonará en tu celular</h3>
    </div>
</div>

<label for="time">Hora</label>
<input type="time" id="time" name="time">

<div class="fecha_group">
    <p class="fecha_info">Fecha Alarma</p>
    <mat-form-field class="fecha">
        <input class="fecha_item" matInput [matDatepicker]="picker" placeholder="Seleccione Fecha">
        <mat-datepicker-toggle class="fecha_item" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="toggle1">
    <div class="toggle1_item">
        <p class="toggle1_info">Repetir</p>
    </div>
    <div class="toggle1_item">
        <mat-slide-toggle class="my-toggle" (change)="onToggleChange($event)"></mat-slide-toggle>
    </div>
</div>

<div class="frecuencia">
    <div class="frecuencia_item">
        <p class="frecuencia_info">Cada cuánto</p>
    </div>
    <div class="frecuencia_item">
        <select class="frecuencia_list" [(ngModel)]="selectedOption">
            <option class="empty" value="" disabled selected>Elegir Frecuencia</option>
            <option value="option1">Diariamente</option>
            <option value="option2">Semanalmente</option>
            <option value="option3">Mensualmente</option>
            <option value="option4">Anualmente</option>
        </select>
    </div>
</div>

<div class="semana">
    <button id="myButton" (click)="onClick(0)" [ngClass]="{'click1' : isClicked[0], 'click2': !isClicked[0]}">L</button>
    <button id="myButton" (click)="onClick(1)" [ngClass]="{'click1' : isClicked[1], 'click2': !isClicked[1]}">M</button>
    <button id="myButton" (click)="onClick(2)" [ngClass]="{'click1' : isClicked[2], 'click2': !isClicked[2]}">MI</button>
    <button id="myButton" (click)="onClick(3)" [ngClass]="{'click1' : isClicked[3], 'click2': !isClicked[3]}">J</button>
    <button id="myButton" (click)="onClick(4)" [ngClass]="{'click1' : isClicked[4], 'click2': !isClicked[4]}">V</button>
    <button id="myButton" (click)="onClick(5)" [ngClass]="{'click1' : isClicked[5], 'click2': !isClicked[5]}">S</button>
    <button id="myButton" (click)="onClick(6)" [ngClass]="{'click1' : isClicked[6], 'click2': !isClicked[6]}">D</button>
</div>

<div class="fechas">
    <div class="fecha_group">
        <p class="fecha_info">Fecha Inicio</p>
        <mat-form-field class="fecha">
            <input class="fecha_item" matInput [matDatepicker]="picker1" placeholder="Seleccione Fecha">
            <mat-datepicker-toggle class="fecha_item" matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="fecha_group">
        <p class="fecha_info">Fecha Final</p>
        <mat-form-field class="fecha">
            <input class="fecha_item" matInput [matDatepicker]="picker2" placeholder="Seleccione Fecha">
            <mat-datepicker-toggle class="fecha_item" matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<div class="toggle2">
    <div class="toggle2_item">
        <p class="toggle2_info">No sonar en festivos</p>
    </div>
    <div class="toggle2_item">
        <mat-slide-toggle class="my-toggle" (change)="onToggleChange($event)"></mat-slide-toggle>
    </div>
</div>
<div class="toggle2">
    <div class="toggle2_item">
        <p class="toggle2_info">Sonido de alarma</p>
    </div>
    <div class="toggle2_item">
        <mat-slide-toggle class="my-toggle" (change)="onToggleChange($event)"></mat-slide-toggle>
    </div>
</div>
<div class="toggle2">
    <div class="toggle2_item">
        <p class="toggle2_info">Vibración</p>
    </div>
    <div class="toggle2_item">
        <mat-slide-toggle class="my-toggle" (change)="onToggleChange($event)"></mat-slide-toggle>
    </div>
</div>
<button class="button1">Agregar alarma</button>