<!-- HEADER STARTS HERE -->

<div class="title_container">
    <img class="logo" src="assets/images/logo.png" alt="Image">
    <h1 class="titulo">MediaAlarm</h1>
</div>

<div class="menu">
    <div class="selected"></div>
    <div class="options">
        <div class="menu_item">
            <a>Alarmas</a>
        </div>
        <div class="menu_item">
            <a routerLink="/multimedia">Multimedia</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/settings">Ajustes</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/sync">Sincronización</a>
            <router-outlet></router-outlet>
        </div>
    </div>
    <button routerLink="" class="button">Cerrar sesión</button>
    <router-outlet></router-outlet>
</div>


<!-- HEADER ENDS HERE -->
<h1 class="subtitulo">Tus Alarmas</h1>

<div class="dias">
    <h2 class="dias_item">Jueves, 09 Feb</h2>
    <h2 class="dias_item">Viernes, 10 Feb</h2>
    <h2 class="dias_item">Sábado, 11 Feb</h2>
    <h2 class="dias_item">Domingo, 12 Feb</h2>
</div>

<div class="calendar_circle">
    <div class="circle_item">
        <div class="circle"></div>
        <div class="arrow">&lt;</div>
    </div>
    <div class="circle_item">
        <div class="circle"></div>
        <div class="arrow">&gt;</div>
    </div>
</div>

<div class="alarma">
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Trabajo</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Trabajo</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">8:00 am - Misa</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">8:00 am - Misa</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="alarma">
    <div class="alarma_item">
        <h3 class="alarma_item_info">4:30 am - Tomar Pastilla</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 am - Reunión</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="alarma1">
    <div class="alarma_item">
        <h3 class="alarma_item_info">7:00 pm - Clase Rumba</h3>
        <h3 class="alarma_item_info1">X</h3>
    </div>
</div>

<div class="square"></div>
<div class="create_alarm">
    <div class="create_alarm_item">
        <h2 class="agregarAlarma">Agrega una alarma</h2>
    </div>
    <div class="create_alarm_item">
        <h3 class="agregarAlarma_info">Esta alarma sonará en tu celular</h3>
    </div>
</div>

<label for="time">Hora</label>
<input type="time" id="time" name="time">