<!-- HEADER STARTS HERE -->

<div class="title_container">
    <img class="logo" src="assets/images/logo.png" alt="Image">
    <h1 class="titulo">MediaAlarm</h1>
</div>

<div class="menu">
    <div class="selected"></div>
    <div class="options">
        <div class="menu_item">
            <a routerLink="/my-alarms">Alarmas</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a>Multimedia</a>
        </div>
        <div class="menu_item">
            <a routerLink="/settings">Ajustes</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/sync">Sincronización</a>
            <router-outlet></router-outlet>
        </div>
    </div>
    <button routerLink="" class="button">Cerrar sesión</button>
    <router-outlet></router-outlet>
</div>


<!-- HEADER ENDS HERE -->

<h1 class="subtitulo">Tus Archivos Multimedia de las alarmas</h1>
<div class="square"></div>
<h1 id="sub" class="subtitulo">Tus notas de voz</h1>
<div class="square1"></div>
<div class="fechas">
    <h1 class="fechas_item">Enero</h1>
    <h1 class="fechas_item">Febrero</h1>
</div>

<div class="voice_note_item">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
</div>
<div class="voice_note_item">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
    <img class="voiceNote" src="assets/images/VoiceNote.png" alt="Image">
</div>

<div class="imagenes">
    <div class="square"></div>
    <h1 id="sub" class="subtitulo">Tus Imágenes</h1>
    <div class="square1"></div>
    <div class="fechas">
        <h1 class="fechas_item">Enero</h1>
        <h1 class="fechas_item">Febrero</h1>
    </div>

    <div class="voice_note_item">
        <img class="voiceNote1" src="assets/images/card (5).png" alt="Image">
        <img class="voiceNote1" src="assets/images/card (4).png" alt="Image">
        <img class="voiceNote1" src="assets/images/card (3).png" alt="Image">
    </div>
    <div class="voice_note_item">
        <img class="voiceNote1" src="assets/images/card (2).png" alt="Image">
        <img class="voiceNote1" src="assets/images/card (1).png" alt="Image">
        <img class="voiceNote1" src="assets/images/card.png" alt="Image">
    </div>
</div>