<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logomediaalarm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomediaalarm"
        android:supportsRtl="true"
        android:theme="@style/MediaAlarm"
        tools:targetApi="31">
        <activity
            android:name=".AlarmActive"
            android:exported="false"
            android:label=" "
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TusAlarmas" />
        </activity>
        <activity
            android:name=".Gallery"
            android:exported="false"
            android:label="Galería de Imágenes"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateEditAlarma" />
        </activity>
        <activity
            android:name=".NotaVoz"
            android:exported="false"
            android:label="Graba tu nota de voz"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateEditAlarma" />
        </activity>
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="Configuraciones"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TusAlarmas" />
        </activity>
        <activity
            android:name=".CreateEditAlarma"
            android:exported="false"
            android:label="Crear Alarma"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TusAlarmas" />
        </activity>
        <activity
            android:name=".TusAlarmas"
            android:exported="false"
            android:label="Tus Alarmas"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".Register"
            android:label="Registrarse"
            android:theme="@style/MediaAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/MediaAlarm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>