<!-- HEADER STARTS HERE -->

<div class="title_container">
    <img class="logo" src="assets/images/logo.png" alt="Image">
    <h1 class="titulo">MediaAlarm</h1>
</div>

<div class="menu">
    <div class="selected"></div>
    <div class="options">
        <div class="menu_item">
            <a routerLink="/my-alarms">Alarmas</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/multimedia">Multimedia</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a routerLink="/settings">Ajustes</a>
            <router-outlet></router-outlet>
        </div>
        <div class="menu_item">
            <a>Sincronización</a>
        </div>
    </div>
    <button routerLink="" class="button">Cerrar sesión</button>
    <router-outlet></router-outlet>
</div>


<!-- HEADER ENDS HERE -->

<div class="ajustes-title">
  <h1>Sincronización</h1>
</div>
<div class="square">
</div>
<div class="ajustes-subtitle">
<h3>Sincroniza tus calendarios con la aplicación</h3>
</div>
<p class="plataforma">Escoge tu plataforma</p>

<button class="btnn btnn-outlook">Outlook</button>
<button class="btnn btnn-gmail">Gmail</button>
<button class="btnn btnn-yahoo">Yahoo</button>
<button class="button1 button-connect">Conectar</button>

<p class="up-sync">Actualment estas sincronizado con</p>
<button class="btnn btnn-samsung">Samsung</button>

<button class="button1 button-disconnect">Desconectar</button>
