<div class="title_container">
    <img class="logo" src="assets/images/logo.png" alt="Image">
    <h1 class="titulo">MediaAlarm</h1>
  </div>
  
  <div class="subtitle_container">
    <h2 class="bienvenido">BIENVENIDO!</h2>
  </div>
  
  <div class="square"></div>
  
  <div class="text-field-correo">
    <label for="text-field-input">Correo</label>
    <input type="text" id="text-field-input" placeholder="Correo">
  </div>
  
  <div class="text-field-cont">
    <label for="text-field-input">Contraseña</label>
    <input type="password" id="text-field-input" placeholder="Contraseña">
  </div>
  
  <button routerLink="/my-alarms" class="button">Iniciar sesión</button>
  <router-outlet></router-outlet>
  
  <div class="square2"></div>
  
  <div class="text-field-app">
    <p>¿No estás registrado?<br>Esta página web es solo para usuarios registrados en nuestra applicación.<br>Descarga La App</p>
  </div>
  
  <div class="stores_container">
    <img class="playStore" src="assets/images/PlayStore.png" alt="Image">
    <img class="appStore" src="assets/images/AppStore.png" alt="Image">
  </div>
